
<div class="container" style="max-width:500px;margin:auto;">
    <form>
        <h1>Currency Convertor</h1>
        <div class="row">
            <div class="col-25">
                <label for="example1">Amount:</label> 
            </div>
            <div class="col-75">
                <input type="number" [(ngModel)]="amount" name="Amount" >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="example1">From:</label> 
            </div>
            <div class="col-75">
                <select [(ngModel)]="f"  name="first">
                    <option value="AED">AED - UAE Dirham</option> 
                    <option value="ARS">ARS - Argentine Peso</option>
                    <option value="AUD">AUD - Australian Dollar</option>
                    <option value="BRL">BRL - Brazilian Real</option> 
                    <option value="BTC">BTC - Bitcoin</option> 
                    <option value="CAD">CAD - Canadian Dollar</option> 
                    <option value="CHF">CHF - Swiss Franc</option> 
                    <option value="CLP">CLP - Chilean Peso</option> 
                    <option value="CNY">CNY - Chinese Yuan</option> 
                    <option value="COP">COP - Colombian Peso</option> 
                    <option value="CZK">CZK - Czech Koruna</option> 
                    <option value="DKK">DKK - Danish Krone</option> 
                    <option value="EUR">EUR - Euro</option> 
                    <option value="GBP">GBP - British Pound Sterling</option> 
                    <option value="HKD">HKD - Hong Kong Dollar</option> 
                    <option value="HRK">HRK - Croatian Kuna</option> 
                    <option value="HUF">HUF - Hungarian Forint</option> 
                    <option value="IDR">IDR - Indonesian Rupiah</option> 
                    <option value="ILS">ILS - Israeli New Sheqel</option> 
                    <option value="INR">INR - Indian Rupee</option> 
                    <option value="ISK">ISK - Icelandic Króna</option> 
                    <option value="JPY">JPY - Japanese Yen</option> 
                    <option value="KRW">KRW - South Korean Won</option> 
                    <option value="KWD">KWD - Kuwaiti Dinar</option> 
                    <option value="MAD">MAD - Moroccan Dirham</option> 
                    <option value="MXN">MXN - Mexican Peso</option> 
                    <option value="MYR">MYR - Malaysian Ringgit</option> 
                    <option value="NOK">NOK - Norwegian Krone</option> 
                    <option value="NZD">NZD - New Zealand Dollar</option> 
                    <option value="PEN">PEN - Peruvian Nuevo Sol</option> 
                    <option value="PHP">PHP - Philippine Peso</option> 
                    <option value="PLN">PLN - Polish Zloty</option> 
                    <option value="RON">RON - Romanian Leu</option> 
                    <option value="RUB">RUB - Russian Ruble</option> 
                    <option value="SEK">SEK - Swedish Krona</option> 
                    <option value="SGD">SGD - Singapore Dollar</option> 
                    <option value="THB">THB - Thai Baht</option> 
                    <option value="TRY">TRY - Turkish Lira</option> 
                    <option value="TWD">TWD - Taiwanese Dollar</option> 
                    <option value="USD">USD - US Dollar</option> 
                    <option value="XAG">XAG - Silver (troy ounce)</option> 
                    <option value="XAU">XAU - Gold (troy ounce)</option> 
                    <option value="ZAR">ZAR - South African Rand</option>
                </select>
            </div>
        </div>
        
        <div class="row">
            <div class="col-25">
                <label for="example1">To:</label> 
            </div>
            <div class="col-75">
                <select  [(ngModel)]="s" name="second">
                    <option value="AED">AED - UAE Dirham</option> 
                    <option value="ARS">ARS - Argentine Peso</option> 
                    <option value="AUD">AUD - Australian Dollar</option> 
                    <option value="BRL">BRL - Brazilian Real</option> 
                    <option value="BTC">BTC - Bitcoin</option> 
                    <option value="CAD">CAD - Canadian Dollar</option> 
                    <option value="CHF">CHF - Swiss Franc</option> 
                    <option value="CLP">CLP - Chilean Peso</option> 
                    <option value="CNY">CNY - Chinese Yuan</option> 
                    <option value="COP">COP - Colombian Peso</option> 
                    <option value="CZK">CZK - Czech Koruna</option> 
                    <option value="DKK">DKK - Danish Krone</option> 
                    <option value="EUR">EUR - Euro</option> 
                    <option value="GBP">GBP - British Pound Sterling</option> 
                    <option value="HKD">HKD - Hong Kong Dollar</option> 
                    <option value="HRK">HRK - Croatian Kuna</option> 
                    <option value="HUF">HUF - Hungarian Forint</option> 
                    <option value="IDR">IDR - Indonesian Rupiah</option> 
                    <option value="ILS">ILS - Israeli New Sheqel</option> 
                    <option value="INR">INR - Indian Rupee</option> 
                    <option value="ISK">ISK - Icelandic Króna</option> 
                    <option value="JPY">JPY - Japanese Yen</option> 
                    <option value="KRW">KRW - South Korean Won</option> 
                    <option value="KWD">KWD - Kuwaiti Dinar</option> 
                    <option value="MAD">MAD - Moroccan Dirham</option> 
                    <option value="MXN">MXN - Mexican Peso</option> 
                    <option value="MYR">MYR - Malaysian Ringgit</option> 
                    <option value="NOK">NOK - Norwegian Krone</option> 
                    <option value="NZD">NZD - New Zealand Dollar</option> 
                    <option value="PEN">PEN - Peruvian Nuevo Sol</option> 
                    <option value="PHP">PHP - Philippine Peso</option> 
                    <option value="PLN">PLN - Polish Zloty</option> 
                    <option value="RON">RON - Romanian Leu</option> 
                    <option value="RUB">RUB - Russian Ruble</option> 
                    <option value="SEK">SEK - Swedish Krona</option> 
                    <option value="SGD">SGD - Singapore Dollar</option> 
                    <option value="THB">THB - Thai Baht</option> 
                    <option value="TRY">TRY - Turkish Lira</option> 
                    <option value="TWD">TWD - Taiwanese Dollar</option> 
                    <option value="USD">USD - US Dollar</option> 
                    <option value="XAG">XAG - Silver (troy ounce)</option> 
                    <option value="XAU">XAU - Gold (troy ounce)</option> 
                    <option value="ZAR">ZAR - South African Rand</option>
                </select>
            </div>
        </div>   
        <tr>
            <td>
                &nbsp;
                <!--you just need a space in a row-->
            </td>
        </tr>   
        <div class="row">
            <button (click)="assign()"  >Convert</button>
        </div> 
        
    </form>  

    <div  class="content" role="main">
    <div class="card-container">
        
        <div  class="card" target="_blank" rel="noopener" >
            <h3 *ngIf="isShow">{{answer}}</h3>
        </div>
    </div>
    </div>
</div>
