

<div id="center" style="text-align:center;" >
    <h3 style="color:white">Forex Times</h3>
</div>

<div>&nbsp;</div>

<div class="sidenav">
    <nav class="main-menu">
        <ul>
            <li>
                <a href="homepage">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">Homepage</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="currencies">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">Currency</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="news">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">News</span>
                </a>
            </li>
            <li>
                <a href="convertor">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">Convertor</span>
                </a>
            </li>
            <li>
                <a href="/watchlist">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">Watchlist</span>
                </a>
            </li>
            <li>
                <a href="history">
                    <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">History</span>
                </a>
            </li>
            <li>
                <a href="about">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">Contact</span>
                </a>
            </li>
            <li class="has-subnav">
                <a href="helpdesk">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">Helpdesk</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="con">
    <router-outlet></router-outlet>
</div>
